<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votaciones IUE</title>

    <link rel="icon" type="image/png" href="../Images/favicon.jpg" />


    <link rel="stylesheet" href="../../boot4/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <div class="index-div-background-image">
        <img class="index-background-image" src="../Images/bloque8-1.jpg" alt="">

    </div>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="logo-iue-nav" src="../../Images/LogoIUE.png" width="30" height="30" class="d-inline-block align-top" alt="">            
            <a class="navbar-brand welcome-user"href="#">Bienvenido <b>Javier Alexander Ochoa Barrientos</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>



    <div class="option-title">
        <h2 class="option-title-text">Eventos disponibles</h2>
    </div>

    <div class="option-card">
        <div class="card">
            <div class="card-body">
                <b>REPRESENTANTE DE LOS EGRESADOS.</b>
                <br>
                <p>Por la cual se elige al representante de los egresados ente el consejo directivo.</p>
                <div class="card-button-vote">
                    <button type="button" onclick="location.href='voteview/vote.html'" class="btn btn-primary btn-go-vote">Votar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="option-card">
        <div class="card">
            <div class="card-body">
                <b>ELECCIÓN DE RECTOR(A).</b>
                <br>
                <p>Por la cual se elige a la rectora de los universidad.</p>
                <div class="card-button-vote">
                    <button type="button" class="btn btn-primary btn-go-vote">Votar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cooldown-bar">
        Aqui va el Cooldown
    </div>



    <script src="../boot4/js/bootstrap.js"></script>
    <script src="../boot4/js/bootstrap.min.js"></script>
    <script src="../boot4/js/bootstrap.bundle.js"></script>
    <script src="../boot4/js/bootstrap.bundle.min.js"></script>

</html>