<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votaciones IUE</title>

    <link rel="icon" type="image/png" href="../Images/favicon.jpg" />


    <link rel="stylesheet" href="../../../boot4/css/bootstrap.css">
    <link rel="stylesheet" href="vote.css">
</head>

<body>

    <div class="index-div-background-image">
        <img class="index-background-image" src="../Images/bloque8-1.jpg" alt="">

    </div>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="logo-iue-nav" src="../../../Images/LogoIUE.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <a class="navbar-brand welcome-user" href="#">
                <b>Javier Alexander Ochoa Barrientos</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    

    <div class="option-title">
        <h2 class="option-title-text">CANDIDATOS</h2>
    </div>

    <div class="option-card">
        <div class="card" style="width: 18rem;">
            <div class="div-number">
                <h1 class="number">1</h1>
            </div>
            <img class="card-img-top candidate-image" src="CandidateImages/candidate.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Diego Alejandro</h5>
                <h6>Correa Jaramillo</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" onclick="location.href='thanks.html'" class="btn btn-success">VOTAR</a>
            </div>
        </div>
    </div>
    <div class="option-card">
        <div class="card" style="width: 18rem;">
            <div class="div-number">
                <h1 class="number">2</h1>
            </div>
            <img class="card-img-top candidate-image" src="CandidateImages/candidate.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Carlos Andrés</h5>
                <h6>Montoya Cardona</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" onclick="location.href='thanks.html'" class="btn btn-success">VOTAR</a>
            </div>
        </div>
    </div>
    <div class="option-card">
        <div class="card" style="width: 18rem;">
            <div class="div-number">
                <h1 class="number">3</h1>
            </div>
            <img class="card-img-top candidate-image" src="CandidateImages/candidate.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mateo</h5>
                <h6>Orozco Lotero</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" onclick="location.href='thanks.html'" class="btn btn-success">VOTAR</a>
            </div>
        </div>
    </div>
    <div class="option-card">
        <div class="card" style="width: 18rem;">
            <div class="div-number">
                <h1 class="number">4</h1>
            </div>
            <img class="card-img-top candidate-image" src="CandidateImages/candidate.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Hector Alonso</h5>
                <h6>Vélez Sanchez</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" onclick="location.href='thanks.html'" class="btn btn-success">VOTAR</a>
            </div>
        </div>
    </div>





    <div class="cooldown-bar">
        Aqui va el Cooldown
    </div>



    <script src="../boot4/js/bootstrap.js"></script>
    <script src="../boot4/js/bootstrap.min.js"></script>
    <script src="../boot4/js/bootstrap.bundle.js"></script>
    <script src="../boot4/js/bootstrap.bundle.min.js"></script>

</html>