body{
    background-color: #333;
    overflow: hidden;
}



.index-div-background-image{
    width: 100%;
    position: absolute;
}
.index-background-image{
    width: 100%;
    opacity: 0.5;
}


.logo-iue-nav{
    width: 10%;
    height: 10%;
}