<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votaciones IUE</title>

    <link rel="icon" type="image/png" href="../Images/favicon.jpg"  />


    <link rel="stylesheet" href="../boot4/css/bootstrap.css">
    <link rel="stylesheet" href="signup.css">
</head>
<body>
 
    <div class="index-div-background-image">
        <img class="index-background-image" src="../Images/bloque8-1.jpg" alt="">
        
    </div>

    <div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Votaciones IUE</a>
            <img class="logo-iue-nav" src="../Images/LogoIUE.png" width="30" height="30" class="d-inline-block align-top" alt="">
          </nav>
    </div>



    <div class="div-welcome-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Activación de cuenta</h5>
                <h6 class="card-subtitle mb-2 text-muted">Obtenga su contraseña para poder votar.</h6>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Documento de identidad:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar número de documento">
                        <small id="emailHelp" class="form-text text-muted">no utilice separadores como puntos o comas.</small>
                    </div>
                    <button type="submit" onclick="location.href='../index.html'" class="btn btn-primary btn-card">Obtener contraseña</button>
                </form>
            </div>
        </div>
    </div>

    <div class="cooldown-bar">
        Aqui va el Cooldown
    </div>

    

    <script src="../boot4/js/bootstrap.js"></script>
    <script src="../boot4/js/bootstrap.min.js"></script>
    <script src="../boot4/js/bootstrap.bundle.js"></script>
    <script src="../boot4/js/bootstrap.bundle.min.js"></script>
</html>